# For audio input
# PyAudio (alternative: sounddevice)
sounddevice
numpy
# For STT (examples, will depend on chosen service)
# google-cloud-speech
vosk
# For GUI
# Tkinter (usually built-in with Python)
customtkinter
# PyQt5
# For global hotkeys
pynput
# For summarization
transformers
torch
# For translation
translators
